@use "@angular/material" as material;
@use "sass:map";

@mixin app-banner-theme($theme) {
  $theme-colors: material.get-color-config($theme);
  $primary-palette: map.get($theme-colors, "info");
  $primary-color: material.get-color-from-palette($primary-palette, 500);

  app-banner {
    color: $primary-color;
  }
}
