@use "@angular/material" as material;
@use "sass:map";

@mixin app-banner-typography($typography) {
  .app-banner {
    .heading {
      @include material.typography-level($typography, title);
      line-height: material.line-height($typography, headline);
    }
    .message {
      @include material.typography-level($typography, body-1);
    }
  }
}

@mixin app-banner-theme($theme) {
  $theme-colors: material.get-color-config($theme);
  $typography: material.get-typography-config($theme);

  $success-palette: map.get($theme-colors, "success");
  $info-palette: map.get($theme-colors, "info");
  $warn-palette: map.get($theme-colors, "warn");
  $backgrounds: map.get($theme-colors, "background");

  @include app-banner-typography($typography);

  .app-banner {
    background-color: material.get-color-from-palette($backgrounds, "card");
    &--success {
      background-color: material.get-color-from-palette(
        $success-palette,
        lighter
      );
    }
    &--info {
      background-color: material.get-color-from-palette($info-palette, lighter);
    }
    &--warn {
      background-color: material.get-color-from-palette($warn-palette, lighter);
    }
  }
}
