@use "@angular/material" as material;
@use "./common.scss" as common;

$primary-palette: material.define-palette(
  common.$mdr-primary-palette,
  $default: 200
);
$accent-palette: material.define-palette(common.$mdr-accent-palette);

// Extra colors
$success-palette: material.define-palette(material.$green-palette);
$info-palette: material.define-palette(material.$light-blue-palette);

$extra-colors: (
  success: $success-palette,
  info: $info-palette,
);

$theme: material.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
    ),
    typography: common.$mdr-typography,
  )
);

$theme: common.apply-extra-colors($theme, $extra-colors);

@include common.create-theme($theme);
