@use "@angular/material" as material;
@use "sass:map";
@use "./assets/theme/light-theme.scss" as light;
@use "./assets/theme/dark-theme.scss" as dark;
@use "./app/banner/banner.component-theme.scss" as banner;

@include material.core();

@include material.all-component-themes(light.$theme);
@include banner.app-banner-theme(light.$theme);

@mixin create-theme($theme) {
  @include material.all-component-colors($theme);
  @include banner.app-banner-theme($theme);
  $background-color: map.get(
    material.get-color-config($theme),
    "background",
    "background"
  );
  background-color: $background-color;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.dark-theme {
  @include create-theme(dark.$theme);
}
// .light-theme {
//   @include create-theme(light.$theme);
// }
