@use "@angular/material" as material;
@use "./assets/theme/light-theme.scss" as light;
@use "./assets/theme/dark-theme.scss" as dark;
@use "./app/banner/banner.component-theme.scss" as banner;

@include material.core();

@mixin create-theme($theme) {
  @include material.all-component-themes($theme);
  @include banner.app-banner-theme($theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.dark-theme {
  @include create-theme(dark.$theme);
}
.light-theme {
  @include create-theme(light.$theme);
}
