@use "@angular/material" as material;
@use "./theme/common.scss" as common;

@include material.core(common.$mdr-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
